---
import DefaultLayout from "../layouts/default.astro";
import articles from "../data/articles.json";
import { Image } from 'astro:assets';

const images = import.meta.glob('../data/images/*.png')
---

<DefaultLayout title="Blog">
  <h1>Blog</h1>

  {
    articles.map((article) => (
      <article class="excerpt">
        <Image src={images[`../data/images/${article.imageName}`]()} alt="" width="400" />
        <a href={article.url}>
          <h2>{article.title}</h2>
        </a>
        <p>{article.excerpt}</p>
      </article>
    ))
  }
</DefaultLayout>

<style>
  .excerpt {
    max-width: 30rem;
  }
</style>
