---
import DefaultLayout from '../layouts/default.astro'
---

<DefaultLayout title="Home">
  <h1>Welcome!</h1>

  <p>I'm a front-end developer working at <a href="https://www.voorhoede.nl/">De Voorhoede</a>, where we focus on innovative web development. My main interest lies in building and integrating design systems across different front-end frameworks.</p>
  <p>Apart from coding, I'm based in the Netherlands and love to spend time outdoors. Trailrunning and hiking are my go-to activities for clearing my mind and staying active.</p>
  <p>Feel free to look around my website and get in touch if you'd like to discuss front-end development or share anything else!</p>
</DefaultLayout>
