<header class="app-header">
  <ul class="app-header__list">
    <li class="app-header__list-item">
      <a class="app-header__list-link" href="/">Home</a>
    </li>
    <li class="app-header__list-item">
      <a class="app-header__list-link" href="/blog">Blog</a>
    </li>
  </ul>
</header>

<style>
  .app-header {
    padding: 16px;
    background-color: #f7f7f7;
  }

  .app-header__list {
    display: flex;
    gap: 16px;
    list-style-type: none;
    padding: 0;
  }

  @media (prefers-color-scheme: dark) {
    .app-header {
      background-color: #333;
    }
  }
</style>
