---
import AppHeader from "../components/AppHeader.astro";

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title} | Sjoerd Beentjes</title>

    <meta name="description" content={description} />
  </head>
  <body>
    <AppHeader />

    <main class="default-layout__main">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  * {
    box-sizing: border-box;
  }

  html, body {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  }

  p {
    max-width: 40rem;
  }

  body {
    padding: 0;
    margin: 0;
  }

  a {
    color: #005f9e;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #1a1a1a;
      color: #fff;
    }

    a {
      color: #5ba9dd;
    }
  }

  .page-title {
    margin: 32px 0 24px;
  }

  .default-layout__main {
    padding: 0 1rem 2rem;
    max-width: 40rem;
    margin: 0 auto;
  }
</style>
